.product {
  margin-top: 100px;
  padding: 0 50px;


  
  .product-image-container, .col-3 { 
    padding: 0 10px; 

    .product-image {
      border-radius: $TwentyPX;
      cursor: pointer;
    }
  }
  
  .previous {
    left: 4%;
    
    &:hover {
      left: 3%;
    }
  }
  
  .next {
    right: 4%;
    
    &:hover {
      right: 3%;
    }
  }
  
  .arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);

    background-color: $White;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.3s ease;
  }

  .thumbnail-container {
    display: inline-flex;
    margin-top: $TwentyPX;

    .thumbnail-image-container {
      position: relative;
      box-sizing: border-box;

      // img {
      //   cursor: pointer;
      //   border-radius: $TwentyPX;
      //   width: 100%;
      //   border: 3px solid transparent;

      //   &:hover {
      //     opacity: 0.75;
      //   }
      // }

      .img-thumbnail {
        border: none;
        padding: $ZeroPX;
      }

      .thumbnail {
        cursor: pointer;
        display: block;
        border-radius: $TwentyPX;
        border: 3px solid transparent;

        &:hover {
          opacity: 0.6;
          background-color: $White;
          border: 3px solid $Orange;
        }
      }

      .active {
        opacity: 0.6;
        background-color: $White;
        border: 3px solid $Orange;
      }

      // .active {
      //   border: 3px solid $Orange;
  
      //   & {
      //     opacity: 0.5;
      //   }
      // }
    }
  }
}

// .lightbox .thumb-gallery {
//   display: flex;

//           align-items: center;
//           justify-content: space-between;
//   margin-top: 3rem;
// }
// .lightbox .thumb-gallery .pic {

//   display: flex;
//   width: 20%;
//   height: fit-content;
//   overflow: hidden;
//   border-radius: 1rem;
// }
// .lightbox .thumb-gallery .pic img {
//   width: 100%;
// }
// .lightbox .thumb-gallery .pic img:hover {
//   opacity: 0.75;
// }
// .lightbox .thumb-gallery .active {
//   border: 2px solid #ff7d1a;
// }
// .lightbox .thumb-gallery .active img {
//   opacity: 0.5;
// }
