@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-container {
  border-bottom: 1px solid #68707D;
}

#header-img {
  width: 100px;
  height: auto;
  padding-bottom: 20px;
}

.navbar-nav {
  padding-left: 30px;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  color: #68707D;
  font-size: 0.8em;
  padding-bottom: 20px;
}

.nav-link:hover {
  font-weight: 700;
  color: #1D2025;
  border-bottom: 3px solid #FF7D1A;
  padding-bottom: 20px;
}

#bars {
  font-size: 0.7em;
  color: #1D2025;
}

.navbar-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cart {
  color: #1D2025;
  padding-right: 15px;
  padding-bottom: 20px;
}

#avatar {
  height: 50px;
  padding-bottom: 20px;
}

.fa-trash-can:before {
  content: '\f2ed';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1em;
  color: #FF7D1A;
}

#close-btn {
  background-color: transparent;
  border: none;
}

.fa-xmark:before {
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  font-size: 1em;
  color: #1D2025;
}

.fa-brands:before {
  content: '\f09b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1em;
  color: #FF7D1A;
}

#product {
  margin-top: 100px;
  padding: 0 50px;
}

.product-image-container {
  padding: 0;
}

.product-image {
  border-radius: 10px;
}

.thumbnail-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
}

.product-information-container {
  padding: 30px 20px;
}

.header-title {
  color: #FF7D1A;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

.product-name {
  font-weight: 700;
  padding-bottom: 20px;
}

.product-info {
  color: #68707D;
  font-size: 0.9em;
  padding-bottom: 15px;
}

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.new-price {
  color: #1D2025;
  font-weight: 700;
  padding-right: 15px;
  margin: 0;
}

.reduced-percent {
  margin: 0;
  background-color: #FFEDE0;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  color: #FF7D1A;
}

.old-price {
  color: #B6BCC8;
  font-style: italic;
  font-size: 0.9em;
  text-decoration: line-through;
}

.product-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity-button {
  background-color: #F7F8FD;
  padding: 10px 20px;
}

.cart-button {
  padding: 10px 20px;
}

footer {
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  color: red;
}

.footer-text {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bi {
  font-size: 1em;
  color: #662E9B;
  text-decoration: none;
}

.bi:hover {
  color: #EA3546;
  text-shadow: 1px 1px 3px #FFF;
}

.bi-linkedin {
  padding: 0 5px 0 10px;
}

.bi-github {
  padding: 0 10px;
}

@media (max-width: 576px) {
  .navbar-container {
    border-bottom: none;
  }
  #header-img {
    padding-bottom: 0;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .nav-cart {
    padding-bottom: 0;
  }
  #avatar {
    padding-bottom: 0;
  }
  .thumbnail-images {
    display: none;
  }
  footer {
    font-size: 0.7em;
    position: relative;
  }
  .footer-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  .footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
  .navbar-container {
    border-bottom: none;
  }
  #header-img {
    padding-bottom: 0;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .nav-link:hover {
    padding-bottom: 0;
  }
  .nav-cart {
    padding-bottom: 0;
  }
  #avatar {
    padding-bottom: 0;
  }
  .thumbnail-images {
    display: none;
  }
  footer {
    font-size: 0.7em;
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */