@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// ---------- COLOUR VARIABLES ---------- //
$Orange: #FF7D1A;
$Orange_Alpha: rgba(255, 125, 26, 1);
$Pale_Orange: #FFEDE0;
$Dark_Navy: #1D2025;
$Deep_Grey_Blue: #68707D;
$Grey_Blue: #B6BCC8;
$Light_Grey_Blue: #F7F8FD;
$White: #FFFFFF;
$Black: #000000;
$Black_Alpha: rgba(0,0,0,0.75);

// ---------- DIMENSION SPACING ---------- //
$ZeroPX: 0;
$TenPX: 10px;
$TwentyPX: 20px;

// ---------- WEIGHTS ---------- //
$RegularEM: 1em;
$MediumEM: 0.8em;
$SmallEM: 0.7em;

// ---------- MIXIN VARIABLES ---------- //
@mixin Hover-Underline {
	color: $Dark_Navy;
	border-bottom: 3px solid $Orange;    
}

@mixin NoPadLeftRight {
	padding-left: 0;
	padding-right: 0;
}

@mixin PadMarginZero {
	padding: 0;
	margin: 0;
}

@mixin FlexCenterAlign {
	display: flex;
	align-items: center;
}

@mixin FlexAlignCenSB {
	@include FlexCenterAlign;
	justify-content: space-between;
}

@mixin FlexCenterSelf {
	display: flex; 
	align-self: center;
}

// ---------- MAIN BODY ---------- //
* {
	box-sizing: border-box;
}

body { 
	@include PadMarginZero();
	background-color: $White;
	color: $Black;
	display: flex;
	width: 100vw;
	height: 100vh;    
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Kumbh Sans', sans-serif;
}

// ---------- NAVBAR ---------- //
.navbar {
	background-color: $White;
	padding-top: $TwentyPX;
}

.navbar-container { border-bottom: 1px solid $Deep_Grey_Blue; }

.header-img {
	width: 100px;
	height: auto;
	padding-bottom: $TwentyPX;
}

// ---------- NAVBAR - LINKS ---------- //
.navbar-nav { padding-left: 30px; }

.nav-item { padding-right: $TenPX; }

.nav-link {
	color: $Deep_Grey_Blue;
	font-size: $MediumEM;
	padding-bottom: $TwentyPX;
}
  
.nav-link:hover {
	font-weight: 700;
	@include Hover-Underline();
	padding-bottom: $TwentyPX;
}

.navbar-cart { @include FlexCenterAlign(); }

.cart-qnty {
	position: relative;
	display: flex;
	padding: 0 15px 20px 0;
	background-color: transparent;
	border: none;
}

.shopping-cart-button {
	cursor: pointer;
	color: $Dark_Navy;
}

.shopping-cart-button:hover {
  color: $Orange;
}

.avatar {
	height: 50px;
	padding-bottom: $TwentyPX;
}

// ---------- NAVBAR - CART BASKET ---------- //
.producstOnCart {
	top: 60px;
	right: 30px;
	background-color: $White;
	width: 375px;
	height: 240px;
	color: $Black;
	z-index: 2000;
	position: fixed;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 5px 8px 5px $Grey_Blue;
	animation: fade 1s;
}

@keyframes fade {
	from {top: 0px;}
	to {top: 60px;}
}

.overlay {
	overflow: hidden;
	display: inline-block;
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.cartIndicator {
	font-size: 0.6rem;
	position: absolute;
	top: -5px;
	right: 0;
}

.cart-indicator-active {
	background-color: $Orange;
	color: $White;
	padding: 0.05rem 0.5rem;
	font-size: 0.5em;
	border-radius: 50px;
}

.empty-cart-content {
	padding: 30px 10px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.cart-empty {
	color: $Deep_Grey_Blue;
	text-align: center;
	font-weight: bold;
}
  
.cart-body-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.cart-product-title {
	color: $Deep_Grey_Blue;
	font-size: 1.1em;
}

.amt[disabled] {
    cursor: default;
    color: $Grey_Blue;
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.producstOnCart .top {
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 30%;
}

.producstOnCart .top:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 95%;
    height: 90%;
    border-bottom: 1px solid $Grey_Blue;
}

.top p {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $Black;
    font-weight: bold;
    font-size: 1.2em;
}

.producstOnCart img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.price-info {
    display: flex;
    align-items: baseline;
}

.price-info span {
    padding-right: 5px;
    text-align: center;
}

#total {
    font-weight: bold;
}

.fa-trash-alt {
    font-size: $RegularEM; 
    color: $Grey_Blue;
}

.fa-trash-alt:hover {
    color: $Orange;
    cursor: pointer;
}

.checkout {
    display: block;
    width: 90%;
    color: $White;
    background-color: $Orange;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 5px;
    border-radius: 10px;
    margin: 10px auto;
}

.checkout:hover {
    box-shadow: 0 2px 15px $Orange;
    color: $White;
}

.hidden {
    display: none;
}

.hide {
    display: none;
    visibility: none;
}

/* TOAST CSS */

// .toast-container {
//     position: fixed;
//     top: 60px;
//     right: 30px;
//     z-index: 8;
//     display: grid;
//   }
  
//   .toast {
//     padding: 15px;
//     transition: transform 250ms cubic-bezier(0.88, -0.1, 0.24, 1.07);
//     animation: toastIt 3000ms cubic-bezier(0.88, -0.1, 0.24, 1.07) forwards;
//   }

// ---------- NAVBAR - MOBILE NAV ---------- //
#bars {
    font-size: $SmallEM;
    color: $Dark_Navy;
}

#close-btn {
    background-color: transparent;
    border: none;
}

.fa-xmark:before {
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-size: $RegularEM; 
    color: $Dark_Navy;
}

// ---------- NAVBAR - MOBILE OFF CANVAS ---------- //
.offcanvas {
    width: 58%;
    overflow-x: hidden;
}

.offcanvas-backdrop.show { opacity: .8; }

// ---------- PRODUCT CONTENT ---------- //
#product {
    margin-top: 100px;
    padding: 0 50px;
}

// ---------- PRODUCT CONTENT - IMAGES ---------- //
.product-image-container, .col-3 { padding: 0 10px; }

#main-img { cursor: pointer; }

.toggle-buttons { display: none; }

.product-image {
    border-radius: $TwentyPX;
    cursor: pointer;
}

// ---------- PRODUCT CONTENT - THUMBNAIL IMAGES ---------- //
.thumbnail-container {
    display: inline-flex;
    margin-top: $TwentyPX;
}

.thumbnail-image-container {
    position: relative;
    box-sizing: border-box;
}

.img-thumbnail {
    border: none;
    padding: $ZeroPX;
}

.thumbnail {
    cursor: pointer;
    display: block;
    border-radius: $TwentyPX;
}

.thumbnail:hover {
    opacity: 0.5;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid $Orange;
}

.active {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid $Orange;
}

// ---------- PRODUCT CONTENT - LIGHTBOX GALLERY ---------- //
#lightbox {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    display: none;
}

#lightbox.lgbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lgBoxContainer {
    max-width: 70vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lgbox-thumbnail-image-container {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}

.lgbox-thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.main-img {
    max-width: 60%;
    max-height: 60%;
    border-radius: 20px;
}

.toggle-buttons {
    z-index: 1;
    position: absolute;
    max-width: 70vw;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-angle-left, .fa-angle-right {
    background-color: White;
    border-radius: 50%;
    padding: 10px 14px;
    cursor: pointer;
}

.fa-angle-left, .fa-angle-right {
    display: inline-block;
}

// ---------- PRODUCT CONTENT - INFORMATION ---------- //
.product-information-container{
    padding: 15% 13%;
}

.header-title {
    color: $Orange;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: $ZeroPX;
    padding-bottom: $TwentyPX;
    font-size: $RegularEM;
}

.product-name {
    font-weight: 700;
    padding-bottom: $TwentyPX;
    font-size: 2.5em;
}

.product-info {
    color: $Deep_Grey_Blue;
    font-size: $RegularEM;
    padding-bottom: $TwentyPX;
    line-height: 2;
}

.price-container {
    @include FlexCenterAlign();
    padding-bottom: 5px;
}

.new-price {
    color: $Dark_Navy;
    font-weight: 700;
    padding-right: $TenPX;
    margin: $ZeroPX;
}

.reduced-percent {
    margin: $ZeroPX;
    background-color: $Pale_Orange;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: $MediumEM;
    font-weight: 700;
    color: $Orange;
}

.old-price {
    color: $Grey_Blue;
    font-style: italic;
    font-size: $MediumEM;
    text-decoration: line-through;
    padding-bottom: $TwentyPX;
}

.col-lg-4, .col-lg-8 { @include PadMarginZero(); }

.quantity-button {
    height: 50px;
    background-color: $Light_Grey_Blue;
    @include FlexAlignCenSB();
    border-radius: $TenPX;
    margin-right: 5px;
}

.fa-minus, .fa-plus {
    background-color: transparent;
    border: none;
    padding: $ZeroPX;
    color: $Orange;
}

.fa-minus:hover, .fa-plus:hover {
    color: $Grey_Blue;
} 

.fa-minus { padding-left: $TwentyPX; } 

.fa-plus { padding-right: $TwentyPX; } 

.quantity-num {
    color: $Dark_Navy;
    font-weight: 700;
    font-size: $RegularEM;
}

.cart-button {
    background-color: $Orange;
    display: block;
    padding: $ZeroPX;
    width: 100%;
    height: 50px;
    border-radius: $TenPX;
    color: $White;
    font-size: $RegularEM;
    margin-left: 5px;
}

.cart-icon {
    color: $White;
    padding-right: $TenPX;
}

.cart-button:hover {
    box-shadow: 0 2px 15px $Orange;
    color: $White;
    font-weight: 700;
}

.cart-icon:hover { font-weight: 700; }

// ---------- FOOTER ---------- //
footer {
    align-content: center;
    position: fixed;
    bottom: $ZeroPX;
    left: $ZeroPX;
    padding-bottom: $TwentyPX;
}

.footer-text {
    @include FlexCenterSelf();
    justify-content: flex-end; 
    padding-right: 50px;
}

.copyright-footer {
    color: $Grey_Blue;
    font-size: $SmallEM;
}

.copyright-footer > a {
    color: $Grey_Blue;
    text-decoration: none;
}

.copyright-footer > a:hover {
    font-weight: 700;
		color: $Orange;
}

.footer-links {
    @include FlexCenterSelf();
    justify-content: flex-start; 
    padding-left: 50px;
}

.bi-linkedin {
    font-size: 1.2em;
    color: $Grey_Blue;
    text-decoration: none;
    margin-right: $TwentyPX;
}

.bi-linkedin:hover, .bi-github:hover {
    color: $Orange;
    padding: $ZeroPX;
}

.bi-github {
    font-size: 1.2em;
    color: $Grey_Blue;
    text-decoration: none;
}

// ---------- MEDIA QUERIES ---------- //
@media (max-width: 991px) {
    
    .product-image-container { padding-bottom: $TenPX; }
    
    .col-3 { margin-bottom: 15px; }

    .thumbnail-container { margin-top: 5px; }

    .product-information-container{ padding: 0 20px; }
    
    .header-title { padding: $TenPX; }
    
    .product-name { font-size: 1.8em; }
    
    .product-name, .product-info, .price-container, .old-price {
        padding: 5px 10px;
    }
    
    .new-price { font-size: 1.6em; }
    
    .old-price { font-size: $MediumEM; }

    .quantity-button { margin-right: $ZeroPX; }
    
    .cart-button { margin-left: $ZeroPX; }
    
    footer {
        position: relative;
        padding-top: 50px;
    }

    .footer-text { padding-right: $TenPX; }
    
    .footer-links { padding-left: $TenPX; }
}

@media (max-width: 796px) {

    .quantity-button { margin: 0 0 5px 0; }
    
    .cart-button { margin: 5px 0 0 0 ; }
}

// ---------- MEDIA QUERIES - MOBILE ---------- //
@media (max-width: 576px) {  

    .navbar {
        padding: 10px 5px;
        height: 50px;
    }

    .mobile-nav { 
        @include FlexCenterAlign(); 
        padding-bottom: 20px;
    }

    .navbar-container {
        border-bottom: none;
        padding: $ZeroPX;  
    }

    .header-img { padding-bottom: $ZeroPX; }
    
    #avatar {
        height: 30px;
        padding-bottom: $ZeroPX;
        padding-right: $TwentyPX;
    }

    .nav-cart { 
        padding-right: $TwentyPX; 
        padding-bottom: $ZeroPX;
    }
    
    .navbar-nav { padding-left: $TenPX; }

    .nav-link {
        font-weight: bold;
        color: $Black;
        padding: 10px 0;
    }

    .fa-xmark { padding-top: $TwentyPX; }

    .producstOnCart {
        right: 20px;
        width: 90vw;
    }

    .buyItem .bold-font {
        padding-right: 40%;
    }
    
    .thumbnail-container { display: none }

    #product {
        margin-top: 50px;
        padding: $ZeroPX;
    }

    .row { overflow-x: hidden; }

    .product-image-container {
        @include NoPadLeftRight;
        width: 100vw;
        @include FlexCenterAlign();
        justify-content: center;
    }

    .toggle-buttons {
        z-index: 1;
        position: absolute;
        width: 100%;
        @include FlexAlignCenSB();
        padding: 0 20px;
    }
    
    .fa-angle-left, .fa-angle-right {
        background-color: $White;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
    }
    
    .fa-angle-left, .fa-angle-right {
        display: inline-block;
    }
    
    .product-image { border-radius: $ZeroPX; }
   
    .product-button {
        display: flex;
        flex-direction: column;
    }
    
    footer {
        font-size: $MediumEM;
        position: relative;
    }

    .footer-text, .footer-links {
        justify-content: center;
        padding: 5px;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    .product-information-container { padding: $ZeroPX; }
}

// ---------- MEDIA QUERIES - LANDSCAPE ---------- //
@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
    footer {
        position: relative;
        margin-top: $TwentyPX;
    }
}

@media (min-width: 912px) and (max-width: 1368px) and (orientation: landscape) {
    .quantity-button { margin-right: $ZeroPX; }
    
    .fa-minus { padding-left: $TenPX; } 
    
    .fa-plus { padding-right: $TenPX; } 

    .cart-button { margin-left: $ZeroPX; }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
    .navbar { padding-top: $TenPX; }

    .nav-link {
        font-weight: bold;
        color: $Black;
        padding: 10px 0;
    }
    
    .header-img, #avatar, .nav-cart  {
        padding-top: 5px;
        padding-bottom: $TenPX;
    }

    #product { margin-top: 75px; }

    .thumbnail-container { display: none }

    .product-button {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: $MediumEM;
        position: relative;
    }

    .footer-text { @include NoPadLeftRight; }
}