@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// COLOUR //
$Orange: #FF7D1A;
$Orange_Alpha: rgba(255, 125, 26, 1);
$Pale_Orange: #FFEDE0;
$Dark_Navy: #1D2025;
$Deep_Grey_Blue: #68707D;
$Grey_Blue: #B6BCC8;
$Light_Grey_Blue: #F7F8FD;
$White: #FFFFFF;
$Black: #000000;
$Black_Alpha: rgba(0,0,0,0.75);

@mixin Hover-Underline {
    color: $Dark_Navy;
    border-bottom: 3px solid $Orange;    
}

@mixin NoPadLeftRight {
    padding-left: 0;
    padding-right: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body { 
    padding: 0;
    margin: 0;
    background-color: $White;
    color: $Black;
    font-size: 1em;
    display: flex;
    width: 100vw;
    height: 100vh;    
    overflow-x: hidden;
    overflow-y: auto;
}

// NAVBAR //
.navbar {
    background-color: $White;
    padding-top: 20px;
}

.navbar-container {
    border-bottom: 1px solid $Deep_Grey_Blue;
}

#header-img {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
}

// NAV LINKS //
.navbar-nav {
    padding-left: 30px;
}

.nav-item {
    padding-right: 10px;
}

.nav-link {
    color: $Deep_Grey_Blue;
    font-size: 0.8em;
    padding-bottom: 20px;
}
  
.nav-link:hover {
    font-weight: 700;
    @include Hover-Underline;
    padding-bottom: 20px;
}

// NAVBAR CART //
.navbar-cart {
    display: flex;
    align-items: center;
}

.nav-cart {
    color: $Dark_Navy;
    padding-right: 15px;
    padding-bottom: 20px;
}

#avatar {
    height: 50px;
    padding-bottom: 20px;
}

.fa-trash-can:before {
    content: '\f2ed';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1em; 
    color: $Orange;
}

// MOBILE NAV // 
#bars {
    font-size: 0.7em;
    color: $Dark_Navy;
}

#close-btn {
    background-color: transparent;
    border: none;
}

.fa-xmark:before {
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-size: 1em; 
    color: $Dark_Navy;
}

// OFF CANVAS //
.offcanvas {
    width: 58%;
    overflow-x: hidden;
}

.offcanvas-backdrop.show {
    opacity: .8;
}

// MAIN CONTENT //
#product {
    margin-top: 100px;
    padding: 0 50px;
}

// MAIN PRODUCT IMAGES //
.product-image-container, .col-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.toggle-buttons {
    display: none;
}

.product-image {
    border-radius: 20px;
}

// THUMBNAIL PRODUCT IMAGES //
.thumbnail-images {
    display: inline-flex;
    margin-top: 20px;
}

.image-container {
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer
}

.img-thumbnail {
    border: none;
    padding: 0;
}

.product-thumbnail {
    display: block;
    border-radius: 20px;
}

.img-thumbnail:hover {
    box-shadow: 0px 0px 0px 3px $Orange_Alpha; 
    opacity: 0.5;
    box-sizing: border-box;
    background-color: transparent;
}

// THUMBNAIL OVERLAY // 
.thumbnail-images .image-container:hover>.product-thumbnail {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 20px;
    transition: .1s ease;
    box-sizing: border-box;
}

.image-container:hover .overlay {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0.2em solid $Orange;
    border-radius: 20px;
}

// PRODUCT INFORMATION //
.product-information-container{
    padding: 15% 13%;
}

.header-title {
    color: $Orange;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    margin: 0;
    padding-bottom: 20px;
    font-size: 1em;
}

.product-name {
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 2.5em;
}

.product-info {
    color: $Deep_Grey_Blue;
    font-size: 0.9em;
    padding-bottom: 20px;
    line-height: 2;
}

.price-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.new-price {
    color: $Dark_Navy;
    font-weight: 700;
    padding-right: 10px;
    margin: 0;
}

.reduced-percent {
    margin: 0;
    background-color: $Pale_Orange;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight: 700;
    color: $Orange;
}

.old-price {
    color: $Grey_Blue;
    font-style: italic;
    font-size: 0.9em;
    text-decoration: line-through;
    padding-bottom: 20px;
}

.col-lg-4, .col-lg-8 {
    padding: 0;
    margin: 0;
}

.quantity-button {
    background-color: $Light_Grey_Blue;
    display: flex;
    height: 50px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-right: 5px;
}

.fa-minus, .fa-plus {
    background-color: transparent;
    border: none;
    padding: 0;
    color: $Orange;
} 

.fa-minus {
    padding-left: 20px;
} 

.fa-plus {
    padding-right: 20px;
} 

.quantity-num {
    color: $Dark_Navy;
    font-weight: 700;
    font-size: 1em;
}

.cart-button {
    background-color: $Orange;
    display: block;
    padding: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: $White;
    font-size: 1em;
    margin-left: 5px;
}

.cart-icon {
    color: $White;
    padding-right: 10px;
}

.cart-button:hover {
    box-shadow: 0 2px 15px $Orange;
    color: $White;
    font-weight: 700;
}

.cart-icon:hover {
    font-weight: bold;
}

// FOOTER // 
footer {
    align-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
}

.footer-text {
    display: flex; 
    align-self: center;
    justify-content: flex-end; 
    padding-right: 50px;
}

.copyright-footer {
    color: $Grey_Blue;
    font-size: 0.7em;
}

.copyright-footer > a {
    color: $Grey_Blue;
    text-decoration: none;
}

.copyright-footer > a:hover {
    font-weight: 700;
    @include Hover-Underline;
}

.footer-links {
    display: flex;
    align-self: center;
    justify-content: flex-start; 
    padding-left: 50px;
}

.bi-linkedin {
    font-size: 1.2em;
    color: $Grey_Blue;
    text-decoration: none;
    margin-right: 20px;
}

.bi-linkedin:hover {
    @include Hover-Underline;
    padding: 0;
}

.bi-github {
    font-size: 1.2em;
    color: $Grey_Blue;
    text-decoration: none;
}

.bi-github:hover {
    @include Hover-Underline;
    padding: 0;
}

// MEDIA QUERIES //
@media (max-width: 991px) {
    
    // MAIN PRODUCT IMAGES //
    .product-image-container {
        padding-bottom: 5px;
    }
    
    .col-3 {
        padding: 0 5px;
        margin-bottom: 15px;
    }

    .thumbnail-images {
        margin-top: 5px;
    }

    .product-information-container{
        padding: 0 15px;
    }
    
    .header-title {
        padding: 10px;        
        font-size: 0.9em;
    }
    
    .product-name {
        font-size: 1.8em;
    }
    
    .product-name, .product-info, .price-container, .old-price {
        padding: 5px 10px;
    }
    
    .new-price {
        font-size: 1.6em;
    }
    
    .old-price {
        font-size: 0.8em;
    }

    .quantity-button {
        margin-right: 0;
    }
    
    .cart-button {
        margin-left: 0;
    }
    
    footer {
        position: relative;
        padding-top: 50px;
    }

    .footer-text {
        padding-right: 10px;
    }
    
    .footer-links {
        padding-left: 10px;
    }
}

@media (max-width: 796px) {

    .quantity-button {
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .cart-button {
        margin-left: 0;
        margin-top: 5px;
    }
}

@media (max-width: 576px) {  

    .navbar {
        padding: 10px 5px;
        height: 50px;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
    }

    .navbar-container {
        border-bottom: none;
        padding: 0;  
    }

    #header-img {
        padding-bottom: 0;
        width: max-content;
        height: auto;
    }

    #bars {
        font-size: 0.7em;
        color: $Dark_Navy;
    }
    
    #avatar {
        height: 30px;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .nav-cart {
        padding-right: 20px;
    }
    
    .navbar-nav {
        padding-left: 10px;
    }

    .nav-link {
        font-weight: bold;
        color: $Black;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fa-xmark {
        padding-top: 20px;
    }
    
    .nav-cart {
        padding-bottom: 0;
    }
    
    .thumbnail-images {
        display: none
    }

    #product {
        margin-top: 50px;
        padding: 0;
    }

    // MAIN PRODUCT IMAGES //
    .product-image-container {
        @include NoPadLeftRight;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .toggle-buttons {
        z-index: 1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .fa-angle-left, .fa-angle-right {
        background-color: $White;
        border-radius: 50%;
        padding: 10px 14px;
    }
    
    .fa-angle-left, .fa-angle-right {
        display: inline-block;
    }
    
    .product-image {
        border-radius: 0;
    }
   
    .product-button {
        display: flex;
        flex-direction: column;
    }
    
    footer {
        font-size: 0.9em;
        position: relative;
    }

    .footer-text  {
        justify-content: center;
        padding: 5px;
    }

    .footer-links {
        justify-content: center;
        padding: 5px;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    .product-information-container{
        padding: 0;
    }
}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
    footer {
        position: relative;
        margin-top: 25px;
    }
}

@media (min-width: 912px) and (max-width: 1368px) and (orientation: landscape) {
    .quantity-button {
        margin-right: 0;
    }
    
    .fa-minus {
        padding-left: 10px;
    } 
    
    .fa-plus {
        padding-right: 10px;
    } 

    .cart-button {
        margin-left: 0;
    }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
    .navbar {
        padding-top: 10px;
    }

    .nav-link {
        font-weight: bold;
        color: $Black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #header-img, #avatar, .nav-cart  {
        padding-top: 4px;
        padding-bottom: 10px;
    }

    #product {
        margin-top: 75px;
    }

    .thumbnail-images {
        display: none
    }

    .product-button {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 0.8em;
        position: relative;
    }

    .footer-text {
        @include NoPadLeftRight;
    }
}