@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-container {
  border-bottom: 1px solid #68707D;
}

#header-img {
  width: 100px;
  height: auto;
  padding-bottom: 20px;
}

.navbar-nav {
  padding-left: 30px;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  color: #68707D;
  font-size: 0.8em;
  padding-bottom: 20px;
}

.nav-link:hover {
  font-weight: 700;
  color: #1D2025;
  border-bottom: 3px solid #FF7D1A;
  padding-bottom: 20px;
}

#bars {
  font-size: 0.7em;
  color: #1D2025;
}

.navbar-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cart {
  color: #1D2025;
  padding-right: 15px;
  padding-bottom: 20px;
}

#avatar {
  height: 50px;
  padding-bottom: 20px;
}

button.btn-close, .text-reset {
  color: #FF7D1A !important;
}

.fa-trash-can:before {
  content: '\f2ed';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1em;
  color: orange;
}

#close-btn {
  background-color: transparent;
  border: none;
}

.fa-xmark:before {
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  font-size: 2em;
  color: #1D2025;
}

.fa-brands:before {
  content: '\f09b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1em;
  color: orange;
}

#product {
  position: relative;
  top: 100px;
  padding: 0;
}

.product-image-container {
  padding: 0;
}

.product-image {
  border-radius: 10px;
}

.thumbnail-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-text {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 576px) {
  .navbar-container {
    border-bottom: none;
  }
  #header-img {
    padding-bottom: 0;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .nav-cart {
    padding-bottom: 0;
  }
  #avatar {
    padding-bottom: 0;
  }
  footer {
    font-size: 0.7em;
    position: relative;
  }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
  .navbar-container {
    border-bottom: none;
  }
  #header-img {
    padding-bottom: 0;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .nav-link:hover {
    padding-bottom: 0;
  }
  .nav-cart {
    padding-bottom: 0;
  }
  #avatar {
    padding-bottom: 0;
  }
  footer {
    font-size: 0.7em;
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */